*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/*NAVBAR */
.header{
    height:70px;
    background:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
}
.headerRight{
    display: flex;
    align-items: center;
    gap: 5px;
}
.headerleft{
    display:flex;
    align-items:center;
    gap:25px;
}

.headerleft a{
    text-decoration:none;
    color:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/*SEARCH */
#searchBar{
    padding:8px 15px;
    border-radius:20px;
    border:none;
    outline:none;
}

/* DROPDOWN */
.account{
    
    position:relative;
    list-style:none;
}

.account a{
    text-decoration: none;
    color: white;
}

.dropdown{
    
    display:none;
    position:absolute;
    background:white;
    color:black;
    padding:10px;
    top:30px;
}

.dropdown li{
    list-style:none;
    padding:5px 0;
}

.dropdown li a{
    text-decoration:none;
    color:black;
}

.account:hover .dropdown{
    display:block;
}

.headerRight img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* 🔵 MAIN */
body{
    background:linear-gradient(45deg,#9de3dd,#de9eee,beige);
}

.main{
    padding:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#createJobBtn{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:20px;
    cursor:pointer;
}

.card{
    width:600px;
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
.card ul{
    padding: 10px;
}
.bottom{
    margin-top:10px;
    display:flex;
    gap:10px;
}

.updateBtn{
    background:orange;
    border:none;
    padding:5px 10px;
    border-radius:10px;
    cursor:pointer;
}

.deleteBtn{
    background:crimson;
    border:none;
    padding:5px 10px;
    border-radius:10px;
    cursor:pointer;
}

.companyimage img{
    width:120px;
}