*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(45deg,#9de3dd,#de9eee,beige);

}

.main{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#createJobBtn{
    padding:12px 20px;
    font-size:18px;
    font-weight:bold;
    background:green;
    color:white;
    border:none;
    border-radius:20px;
    cursor:pointer;
    margin-bottom:20px;
}

#createJobBtn:hover{
    background:darkgreen;
}

.card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:600px;
    padding:20px;
    margin:20px 0;
    border-radius:20px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.text{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.text p{
    color:gray;
}

.text ul{
    padding-left:20px;
    color:gray;
}

.bottom{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.applyBtn{
    background:#3498db;
    color:white;
}

.updateBtn{
    background:orange;
    color:white;
}

.deleteBtn{
    background:crimson;
    color:white;
}

.bottom button{
    padding:6px 12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.bottom button:hover{
    opacity:0.8;
}

.companyimage img{
    width:120px;
    height:120px;
    object-fit:contain;
}