*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 8vh;
    display: flex;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    background-color: rgb(54, 54, 54);
    font-size: 23px;

    
}
.header a{
    text-decoration: none;
    color:white;
    display: inherit;
}
.header li{
    list-style: none;
}
.headerleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.headerRight{
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchbar{
    border-radius: 30px;
    padding: 20px;
    margin-left: 10vw;
    width: 15vw;
    height: 5vh;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    
    border-radius: 50px;    
    width: 40px;
    height: 40px;
}
.dropdown{
    display: none;
    position: absolute;
    

}
.dropdown li a{
    display: block;
    color: rgb(1, 1, 1);
    background-color: bisque;
    border-radius: 5px;
    padding-left: 10px;
}
.dropdown li a:hover{
    background-color: blueviolet;
}
.account:hover .dropdown {
    display: block;
}
.headerRight img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.main{
    background-color: beige;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(pexels-knownasovan-62693.jpg);
    background-size: cover;
    background-position: center;
}
.card{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px; 
    margin: 20px;   
    width: 40vw;
    background: url(pexels-codioful-7130566.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 8px 8px 6px rgb(84, 81, 81);

}
.companyimage{
    padding-bottom: 20px;
}
.companyimage img{
    height:25vh;
    width: 15vw;
    background-color: aliceblue;
    border-radius: 30px;
    padding-bottom: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text p{
    color: rgb(110, 106, 106);
    padding-left: 10px;
}
.text ul{
    padding-left: 15px;
    color: rgb(110, 106, 106);
}
.text .bottom{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    
}
.bottom #applybutton ,#learnmore{
    font-size: 20px;
    font-weight: bold;
    width: 8vw;
    height: 3.5vh;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 2px;
    border-color: black;
    box-shadow: 5px 5px 6px rgb(84, 81, 81);

}

