*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,rgb(149, 227, 221),rgb(222, 158, 238),beige);
}
.header{
    height: 8vh;
    display: flex;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    background-color: rgb(54, 54, 54);
    font-size: 23px;

    
}
.header a{
    text-decoration: none;
    color:white;
    display: inherit;
}
.header li{
    list-style: none;
}
.headerleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.headerRight{
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchbar{
    border-radius: 30px;
    padding: 20px;
    margin-left: 10vw;
    width: 15vw;
    height: 5vh;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    
    border-radius: 50px;    
    width: 40px;
    height: 40px;
}
.dropdown{
    display: none;
    position: absolute;
    

}
.dropdown li a{
    display: block;
    color: rgb(1, 1, 1);
    background-color: rgb(27, 122, 255);
    border-radius: 5px;
    padding-left: 10px;
}
.dropdown li a:hover{
    background-color: blueviolet;
}
.account:hover .dropdown {
    display: block;
}
.headerRight img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.main{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.jobform{
    background-color: rgb(255, 255, 255);
    margin:20px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(45, 45, 250);
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 10px black;

}

.jobform:hover{
    box-shadow: 5px 6px 10px rgb(107, 107, 107);

}
#searchjob{
    display: flex;
    /* flex-direction: column; */
    font-size: large;

    gap: 5px;
}
#searchjob input,select{
    height: 25px;
    padding: 5px;
    border-radius:10px;
}
#search{
    margin-top: 5px;
    width: 5rem;
    border-radius: 18px;
    font-size: large;
    height: 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 6px black;

    
}
#search:hover{
    box-shadow: 5px 3px 10px grey;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px; 
    margin: 20px;   
    width: 40vw;
    height:min-content;
    background:linear-gradient(45deg,rgb(215, 239, 238),rgb(253, 222, 188));
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding-bottom: 10px;
    

}
.card:hover{
    box-shadow:    
    0 10px 20px rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
}


.companyimage{
    padding-bottom: 20px;
}
.companyimage img{
    height:25vh;
    width: 15vw;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 30px;

    box-shadow: 4px 4px 6px black;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text p{
    color: rgb(110, 106, 106);
    padding-left: 10px;
}
.text ul{
    padding-left: 15px;
    color: rgb(110, 106, 106);
}
.text .bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
    
}
.bottom .applybutton ,#learnmore{
    /* margin-bottom: 5px; */
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 8vw;
    height: 3.5vh;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 2px;
    border-color: black;
    box-shadow: 0px 0px 6px rgb(16, 16, 16);

}
#learnmore:hover {
  box-shadow:
    0 10px 20px rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
}
.applybutton:hover{
    
  box-shadow:
    0 10px 20px rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
}
.form {
    width: 40vw;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.main-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.main-form label {
    font-weight: bold;
}

.main-form input,
.main-form select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

/* .main-form input:focus,
.main-form select:focus {
    border: 1px solid blueviolet;
    box-shadow: 0 0 5px rgba(138,43,226,0.5);
} */

.main-form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background: blueviolet;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.main-form button:hover {
    background: darkviolet;
}


